<div class="sta-body">
  <section class="icon">
    <img src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
  </section>

  <section class="summary">
    <input class="control property name" name="name" type="text" value="{{data.name}}"/>
  </section>

</div>
