<img class="icon" src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
<div class="name">{{item.name}}</div>
<div class="controls">
  {{> (tplPath "item/_partials/ListItemDefaultActions") item=item type=type }}
</div>
{{#if item.description }}
  <div class="description tooltip-container hide">{{{item.description}}}</div>
{{/if}}
