<section class="message-content border-left">
  {{> (lookup tpl "formula") this}}
  <div class="roll-details">
    <div class="left">
      {{> (lookup tpl "dice") this}}
      {{> (lookup tpl "result") this}}
    </div>
    <div class="right">
      {{> (lookup tpl "data") this}}
    </div>
  </div>
</section>
{{> (lookup tpl "actions") this}}