<a class="control edit" title="{{localize (concat "sta.item." type ".edit")}}">
  <i class="fas fa-edit"></i>
</a>
<a class="control delete" title="{{localize (concat "sta.item." type ".delete")}}">
  <i class="fas fa-trash"></i>
</a>