{{#if (isGM)}}
  <section class="property form-text rule">
    <h3>{{localize "sta.item.rule"}}: {{rule.name}}</h3>
    <textarea class="form-control" name="system.rule">{{rule.script}}</textarea>
  </section>
{{/if}}