<form class="sta-body" autocomplete="off">
  {{> (tplPath "item/_partials/ItemHeader.hbs") this }}

  {{> (tplPath "template/RichTextSection.hbs") sta=sta h="h3" field="description" title="sta.item.description" }}
</form>
