<form class="sta-body" autocomplete="off">
  {{> (tplPath "item/_partials/ItemHeader.hbs") this }}

  <section class="property system border-left">
    <h4>{{localize "sta.system._singular"}}</h4>
    <div class="scale-value">
      {{#each starshipSystems as |name|}}
        <label class="scale-pill single">
          {{localize (concat "sta.system." this)}}
          <input name="system.system" type="radio" value="{{this}}"
                 {{#if (eq ../sta.system this)}}checked="checked"{{/if}} />
        </label>
      {{/each}}
    </div>
  </section>

  {{> (tplPath "item/_partials/PropertyText.hbs")
    name="description" title="sta.item.description" value=sta.description}}
</form>
