@import "variables";
@import "fonts";
@import "app";
@import "headlines";
@import "../src/roll/roll";
@import "../src/actor/character/Character";
@import "../src/actor/starship/Starship";
@import "../src/item/Item";
@import "../src/item/armor/Armor";
@import "../src/item/thing/Thing";
@import "../src/item/characterweapon/CharacterWeapon";
@import "../src/item/focus/Focus";
@import "../src/item/injury/Injury";
@import "../src/item/launchbay/Launchbay";
@import "../src/item/milestone/Milestone";
@import "../src/item/refit/Refit";
@import "../src/item/starshipweapon/StarshipWeapon";
@import "../src/item/talent/Talent";
@import "../src/item/trait/Trait";
@import "../src/item/value/Value";

@import "lcars.less";


.system-fvtt-sta {
  color: @almost-white;

  .editor {
    min-height: 100px;
    &.tinymce {
      min-height: 200px;
    }
  }

  .tox {
    //background-color: @text-default;
  }

  h1 {
    font-size: @sta-h1-size;
    font-weight: bold;
  }
  h2 {
    font-size: @sta-h2-size;
    font-weight: bold;
  }
  h3 {
    font-size: @sta-h3-size;
    font-weight: bold;
  }
  h4 {
    font-size: @sta-h4-size;
    font-weight: bold;
  }
  h5 {
    font-size: @h5-size;
    font-weight: bold;
  }
  h6 {
    font-size: @h6-size;
    font-weight: normal;
  }
}

