@import "variables.less";
@import "fonts.less";
@import "character-sheet.less";

@import "lcars.less";

body {
  scrollbar-color: @control-inline-default transparent;
  scrollbar-width: thin;
  color: @almost-white;
}

.editor {
  min-height: 100px;
  &.tinymce {
    min-height: 200px;
  }
}

.tox {
  //background-color: @text-default;
}


.window-app {
  background-image: none;
  background-color: @almost-black;
  border-radius: 20px;
  color: @almost-white;

  .window-content {
    background-image: none !important;
    background-color: transparent !important;
    >* {
      flex: unset;
    }
  }
}

