section {
  position: relative;
}

.actor-sheet {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 4px;

  > section {
    flex-grow: 1;
    width: 33%;
  }

  title, h1, h2, h3, h4 {
    text-transform: uppercase;
    color: @light-yellow;
    border: none;
    margin: 4px 0;
  }

  h2 {
    color: darken(@light-yellow, 5%);
  }
  h3, h4 {
    color: darken(@light-yellow, 10%);
  }

  h1 {
    .lcars-bar(1.75rem);
  }

  h2 {
    .lcars-bar(1.5rem);
  }

  h3 {
    .lcars-bar(1.25rem);
  }

  h4 {
    .lcars-bar(1rem);
  }

  .border-left {
    padding-left: 8px;
    padding-right: 2px;

    > h1, > h2, > h3, > h4 {
      .lcars-border-left();
    }
  }

  .border-right {
    padding-left: 2px;
    padding-right: 8px;

    > h1, > h2, > h3, > h4 {
      .lcars-border-right();
    }
  }

  .edge-left-down {
    padding-right: 2px;

    > h1, > h2, > h3, > h4 {
      .lcars-edge-left-down(24px, 20px);
    }
  }

  .edge-right-down {
    padding-left: 2px;
    padding-right: 8px;

    > h1, > h2, > h3, > h4 {
      //.lcars-edge-right-down(1.5rem, 20px);
    }
  }

  h1, h2, h3, h4 {
    &.reverse {
      .lcars-bar-reverse();
    }
  }

  section {
    &.reverse {
      flex-direction: row-reverse;
    }
  }


  input {
    color: @light-yellow;
    border: 1px solid @darkest-blue;
    border-radius: 0;
  }

  .scale-selection {
    &.roll-d6 {
      .lcars-scale-select(1.75rem, @light-orange);
    }
    &.roll-d20 {
      .lcars-scale-select(1.75rem, @dark-blue);
    }
  }

  .scale {
    .lcars-scale-value(0.75rem);
    border-left: none;

    input {
      display: none;
    }
  }

  .avatar {
    width: 200px;
    flex-grow: unset;

    .img {
      height: 100%;
      width: 100%;
    }
  }

  .summary {
    width: 51%;
    display: flex;
    grid-gap: 4px;
    flex-wrap: wrap;

    .property {
      width: calc(33% - 4px);
    }

    .reputation {
      width: 100%;
    }

    .name, .rank, .assignment {
      input {
        font-size: var(--font-size-24);
        height: 30px;
      }
    }
  }

  .attributes, .disciplines {
    flex-grow: unset;
    width: 200px;

    .property {
      display: flex;
      grid-gap: 4px;
    }

    input {
      width: 20px;
      margin: 0;
    }
  }

  .attributes {
    text-align: right;

    .property {
      flex-direction: row-reverse;
    }
  }

  .disciplines {
    input {
      text-align: right;
    }
  }

  .list {
    margin: 0;
    padding: 0;

    .item {
      display: flex;
      padding: 2px;

      .name {
        flex-grow: 1;
        padding: 0 2px;
      }
    }

  }
}