.launchbay-sheet {

  .property.landed {
    flex-grow: 0;
    display: flex;
    grid-gap: @gap;
    font-size: @sta-h3-size;
    color: @sta-color-h3-fg;

    input {
      width: @sta-h1-size;
    }
  }

  .property.type {
    flex-grow: 1;

    &:after {
      width: @gap;
    }
  }
}